* {
    box-sizing: border-box;
}

body {
    min-height: 100svh;
    margin: 0;
    padding: 8px;

    background-color: rgb(231, 239, 255);
}

#main {
    border-radius: 10px;
    min-height: calc(100svh - 16px);
    height: max-content;
}

#content {
    min-height: calc(100svh - 16px - 4px);
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    resize: none;

    padding: 6px 8px;
    padding-right: 7px;

    overflow-x: hidden;

    border-radius: 4px;
    word-wrap: break-word;
}
